

<h1 class="titulo">Mi formulario</h1>

<div class="container">
        <input type="text" [(ngModel)]= "Persona.nombre" placeholder="Ingrese el nombre" id="nombre" name="nombre"><br><br>
        <input type="text" [(ngModel)]= "Persona.apellido" placeholder="Ingrese el apellido" id="apellido" name="apellido"><br><br>
        <input type="text" [(ngModel)]= "Persona.sueldo" placeholder="Ingrese el sueldo" id="sueldo" name="sueldo"><br><br>
        <select name="licencia" id="licencia" [(ngModel)]= "Persona.licencia">
          <option selected value="true">si</option>
          <option value="false">no</option>
        </select><br><br>
        <input type="text" [(ngModel)]= "Persona.edad" placeholder="Ingrese el edad" id="edad" name="edad"><br><br>
        <select name="sexo" id="sexo" [(ngModel)]= "Persona.sexo">
          <option value="M">M</option>
          <option value="F">F</option>
          <option value="O">F</option>
        </select><br><br>
</div>

<app-hijo [PersonaObjeto]="Persona"
     
        (PasameElPueblo)="showPueblo($event)"></app-hijo><br><br>

        <div class="tabla">
        <table class="table">
                <tr *ngFor="let item of arreglo">
                        <td>{{item.nombre}}</td>
                        <td>{{item.apellido}}</td>
                        <td>{{item.licencia}}</td>
                </tr>
        </table>
      </div>








