

<h1 class="titulo">Mi formulario</h1>

<div class="container"> 
        <input type="text" placeholder="Ingrese el nombre" id="nombre" name="nombre"><br><br>
        <input type="text" placeholder="Ingrese el apellido" id="apellido" name="apellido"><br><br>
        <button (click)="CargarDatos()">Cargar Datos</button>

</div>

<app-pueblo [ciudad]="ciudad"
        [pais]="pais"
        (PasameElPueblo)="showPueblo($event)"></app-pueblo><br><br>

        <table>
                <tr>
                        <th>
                        Datos de la persona
                        </th>
                </tr>
                <tr *ngFor="let item of arreglo">
                        <td>{{item}}</td>
                </tr>
        </table>








