/* You can add global styles to this file, and also import other style files */

.container {
    position: relative;
    left: 50%
}

.titulo {
    position: relative;
    left: 50%
}

.tituloGeneral {
    position: relative;
    top: 50%
}

.cargarFormulario {
    position: absolute;
    justify-content: center;
    left: 50%
}

.tabla {
    position: absolute;
    text-align: center;
    top: 69%;
    left: 40%
}

th {
    background-color: black;
    color: white
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
