/* You can add global styles to this file, and also import other style files */

.container {
    position: absolute;
    left: 50%;
}

.titulo {
    position: relative;
    left: 48%;
}

.tituloGeneral {
    position: relative;
    left: 46%;
}

.cargarFormulario {
    position: absolute;
    left: 50%;
    top: 57%;
}

.tabla {
    position: absolute;
    text-align: center;
    top: 62%;
    left: 25%
}

 /* .table {
    position: absolute;
     text-align: center; 
    top: %;
}  */
